# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Android (Expo / React Native)
/android/


# Expo
.expo/
.expo-shared/

# Build
dist/
web-build/
build/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Temp
*.tmp
~$*



#              Android (Expo / React Native)
# android/
# apps/mobile/android/

#          Build artifacts
# *.apk
# *.aab
# *.keystore
# *.jks
# .cxx/
# build/

#            Node
# node_modules/
# package-lock.json

#             Expo
#.expo/